[2015-04-10 00:22] markhibberd opened #1 "Move talks to issues, so people can just comment etc..."

[2015-04-10 00:45] jedws opened #2 "Jacob Stanley: Tail Call Optimisation on the JVM"

[2015-04-10 00:45] jedws opened #3 "Alex Hennecke: Performance Numbers for Free"

[2015-04-10 00:47] jedws opened #4 "Stephen Nancekivell: Testing, DI and separating logic"

[2015-04-10 00:47] jedws opened #5 "Karl Roberts: How I invented Lenses"

[2015-04-10 00:48] jedws opened #6 "Karl Roberts: my first useful sbt plugin"

[2015-04-10 01:08] #1 closed, assigned to nobody

[2015-04-13 00:27] inkytonik opened #7 "Tony Sloane: Scala and LLVM"
We're doing some LLVM-related work in a few Scala-based projects at Macquarie, so I could talk about how we're doing that. Examples would likely be based around showing how a simple compiler can be built with our LLVM library and other tools/libraries from our group (Kiama and sbt-rats).

My preference would be not to do this one in May since the LLVM work is a bit too fresh, but June or July woul

[2015-04-13 03:22] jedws opened #8 "May Meetup"
The May meetup could/should? have the following talks:
1. [ ] #10 Ashley Valent: Monads don't compose. Free ones do
2. [ ] #2 Jacob Stanley: Tail Call Optimisation on the JVM
3. [ ] #3 Alex Hennecke: Performance Numbers for Free

[2015-04-13 03:25] jedws opened #9 "June Meetup"
1. [x] #11 Arnold DeVos: Wrap your imperative POJOs in Functions
2. [x] #6 Karl Roberts: How I invented Lenses
3. [x] #12 sigerber: A Parsing Fancy: Parser Combinators in Scala

[2015-04-14 12:20] avalent opened #10 "Ashley Valent: Monads don't compose. Free ones do"
In the April ScalaSyd meetup Jed talked about Free monads and how they are used in the aws-scala library to abstract away most of the complexity. This covered material from the first part of Runar's excellent talk https://www.parleys.com/tutorial/composable-application-architecture-reasonably-priced-monads

I could talk about the second part which covers composing different algebras using monad co

[2015-04-20 00:22] arnolddevos commented on #10
I think this should be an interesting talk. But some critical evaluation of Runar's method would be a welcome inclusion.

For example, if you follow the method outlined in his presentation you end up with a non-tail-recursive evaluator (ie Runar's foldMap here  https://gist.github.com/runarorama/a8fab38e473fafa0921d will blow the stack ).

The answer is to use scalaz Free, but that is a more compl

[2015-04-20 02:13] avalent commented on #10
Of course, it is important to critically evaluate any technique before using it.

While I don't know for certain I believe that Runar's example of Free was written for simplicity so it can be more easily understood. I don't think it was ever meant to be a production ready implementation like the one in scalaz so I don't think it is fair to hold that against the technique. Scala has limitations (li

[2015-04-20 09:07] arnolddevos commented on #10
Well, I take your points except that I am more pessimistic than you about achieving the benefits reuse, whether of algebras or interpreters.  But that is just an opinion.   I don't have any worked-out alternative idea of how to achieve composition of algebras (and their interpreters).

[2015-04-20 10:06] da-terry commented on #3
After my talk on doobie, purely functional JDBC, streams-based HTTP (all with free monads), I'll do a follow-up on some performance experiments to see how much overhead Free algebras introduce.

[2015-04-22 00:26] karlroberts commented on #6
intro level talk to create  a plugin (or not), some of the gotchas i've found and a quick demo

[2015-04-22 00:32] karlroberts commented on #5
By seeing a pattern, re-factoring to extract as a function I eventually invented Lenses :-)
low level talk (i think) simply shows how all roads lead to scalaz, but also shows a lens use case and the motivation. I often think that with the higher level abstractions the motivation is no longer obvious to beginners. This talk is an anecdote showing how a need and motivation and a disire to keep refac

[2015-04-28 11:07] arnolddevos opened #11 "Wrap your imperative POJOs in Functions"
Java APIs are usually full of factory objects, factory-factory objects and lots of  setters. You use these to build a tree of POJOs which, finally, does something for you.

If you are starting to get the hang of functional programming in scala all this imperative POJO building just does not fit in.  It is tedious and it comes up pretty often.

This short talk is about a simple way to turn it all i

[2015-05-13 02:31] sigerber opened #12 "A Parsing Fancy: Parser Combinators in Scala"
Introductory-level Scala talk that covers the parser combinator library. Talk is in two parts, 10-15 minutes of (really light!) theory on DSLs and context-free-grammars. With audience participation we construct a toy DSL that pits security threats against targets. A parser for this DSL is then live coded.

The talk was previously delivered as an internal tech-talk at my company and is ready to go.

[2015-05-13 03:44] arnolddevos commented on #12
Sounds good to me.  I see you are using the original scala library parser combinators.  Have you seen these interesting alternative parser combinators: http://lihaoyi.github.io/fastparse/ ?

[2015-05-13 04:49] #10 closed, assigned to nobody

[2015-05-13 04:50] #2 closed, assigned to nobody

[2015-05-13 05:03] #3 closed, assigned to da-terry

[2015-05-13 05:04] #8 closed, assigned to nobody

[2015-05-13 05:04] arnolddevos commented on #11
After finishing this I reviewed and saw that all the uses of cobind could just as well be fmap.  In other words, this is not a genuine illustration of a comonad at work.  That takes some of the interest out of it, oh well.

[2015-05-16 10:30] sigerber commented on #12
I hadn't seen that one before. I did learn about Parboiled2 after we finished writing our own DSL parser. However when I was putting together the talk the intention was more to drum up enthusiasm for Scala than to teach parser combinators. I felt it was better to stick with the original library since I was much more familiar with it and most of the talk is a live coding demo.

But probably I shoul

[2015-05-17 03:54] arnolddevos commented on #12
I thought you might be interested in that one in particular because it is a
parser combinator library. Live coding with the original scala parser
combinators sounds good to me.

On Sat, May 16, 2015 at 8:30 PM, sigerber notifications@github.com wrote:

[2015-05-20 09:39] conor10 opened #13 "Scala for Business Automation - Solving Real Business Problems with Streams, POI and a dash of BDD"
Beginners talk, based on my YOW!West talk.

Spreadsheets are the bane of people’s lives in many organisations and - for better or for worse - businesses continue to rely on them very heavily, even for critical parts of their day to day operations. In my presentation I will discuss how the following technologies can be utilised to build neat solutions to help automate these workflows.

Scala’s Stre

[2015-05-26 03:50] filippovitale opened #14 "Solving CSPs in Scala (with StateT and MonadPlus)"
I would like to present a talk inspired by the [4 blog posts](http://bartoszmilewski.com/2015/05/11/using-monads-in-c-to-solve-constraints-1-the-list-monad/) by Bartosz Milewski on solving a simple constraint satisfaction problem in C++ and Haskell.

This presentation would start solving the problem in Scala using simple high-order functions and `List` for comprehension. The solution could evolve

[2015-05-26 08:05] jedws commented on #14
sounds fun! when would you have it ready by?

[2015-05-26 08:20] filippovitale commented on #14
The presentation would be ready for July

[2015-05-26 08:40] ngocdaothanh opened #15 "i18n à la gettext"
.properties file (or its variants) is a popular way to add i18n to programs. But .properties file is not very easy to manage. This lightning talk introduces an alternative, easier workflow, in the [GNU gettext](http://en.wikipedia.org/wiki/Gettext) style.

Demos:
- How to write i18n messages.
- How to automatically extract the messages to a resource file be translated.
- How to automatically updat

[2015-05-26 22:36] tmcgilchrist opened #16 "Scala’s Modular Roots"
Investigate the inspiration Scala has taken from Modula-2, Modula-3, Haskell, and Standard ML.
In particular look at the equivalence between Scala and Standard ML's module system.

[code]

[2015-05-26 22:37] markhibberd commented on #16
When do you think you would be able to prepare such a talk?

[2015-05-26 22:38] markhibberd commented on #15
@ngocdaothanh When do you think you could have this talk ready by - just so I know for scheduling etc...

[2015-05-26 22:38] arnolddevos commented on #15
I like the idea of having some short talks.

[2015-05-26 22:38] tmcgilchrist commented on #16
Nothing concrete written yet, could be ready for the July meetup on the 15th.

[2015-05-26 22:39] markhibberd commented on #9
@inkytonik @karlroberts ^^ You ok for this month?

[2015-05-26 22:40] markhibberd commented on #12
@sigerber Would you be able to do this talk in June? Meetup is June 10th..

[2015-05-26 22:41] markhibberd commented on #11
@arnolddevos Can you add a note to this as to roughly when you would be able to give the talk - even if it is like - I can do this, as long as I have X weeks notice.

[2015-05-26 22:45] inkytonik commented on #9
Actually some things have come up with a mid-June deadline, so I would prefer July if that doesn't leave an unfillable gap in June.

[2015-05-26 22:45] markhibberd commented on #9
@inkytonik Should be fine there are a few other proposals up.

[2015-05-26 22:46] inkytonik commented on #9
Great, thanks. Put me down for July definitely.

[2015-05-26 22:48] markhibberd opened #17 "July Meetup"
- [ ] #7 Tony Sloane: Scala and LLVM
- [ ] #16 Tim McGilchrist: Scala's Modular Roots
- [x] #14 Filippo Vitale: Solving CSPs in Scala (with StateT and MonadPlus)

[2015-05-26 22:49] markhibberd commented on #15
@ngocdaothanh More concretely, do you think you would have this ready for the June meetup (June the 10th).

[2015-05-26 22:56] sigerber commented on #12
@markhibberd Yes - should be fine. Pencil it in and I'll give you a hard confirmation soon.

[2015-05-27 00:49] arnolddevos commented on #11
At a pinch I can do this at the June 10th meetup.  Otherwise with 1-2 weeks notice.   Est. 25 min duration.

[2015-05-27 01:05] markhibberd commented on #11
@arnolddevos Would be pretty happy for you to do June 10th. Still need one more talk. Can I lock it in?

[2015-05-27 01:11] markhibberd opened #18 "Conservative Language Use For Fun and Profit"
Scala provides many tools for building programs. Depending on how you look at it, this can be a great thing, or a terrifying thing. I will take a look at the scala "sub-set" that I adopted over years of pain, and hopefully demonstrate that you can get more benefit from scala by adopting less of it. In the end my sub-set may be different to yours, but it might give you some different ideas on how t

[2015-05-27 02:18] arnolddevos commented on #11
OK Lock it in.

[2015-05-27 10:56] sigerber commented on #12
All good to go. Btw, there are two presenters for this talk. I'm the primary presenter but my collegue Mathew Johnson will be helping out with the audience participation.

[2015-05-27 11:00] markhibberd commented on #9
@jedws Everyone has confirmed. Just got to get abstracts together. Will post tomorrow.

[2015-05-28 06:42] ngocdaothanh commented on #15
Hi. I think I'll be ready by that time.

[2015-05-29 00:33] oliverdaff opened #19 "Entry level talk on Functor, Apply, Applicative, Bind and Monad."
Entry level talk on Functor, Apply, Applicative, Bind and Monad.
1. Provide an overview of each of their implementations in Scalaz
2. Give real world examples about when and how you would consider using each of them.

This talk will be ready for the July meetup.

[2015-06-03 01:17] markhibberd commented on #15
@ngocdaothanh Can you send me a mail to mark@hibberd.id.au.

[2015-06-03 05:10] ngocdaothanh commented on #15
@markhibberd I've sent you a mail.

[2015-06-06 11:16] sigerber commented on #12
@jedws Haven't been to a Scala meetup before - I assume I can bring in my own laptop for the presentation? Anything special I need to know about accessing the premises?

[2015-06-07 00:05] jedws commented on #12
We have an HDMI projector, and MiniDVI connectors – we mostly use Macs.

As far as access goes, the lifts close at 5.30, but we have people around
to let people in until about 6.45. Turn up whenever suits you.

cheers,
jed.

On 6 June 2015 at 21:16, sigerber notifications@github.com wrote:

[2015-06-07 00:27] arnolddevos commented on #11
For th sake of an abstract to put on the meetup notice (which does not seem to be up yet btw) I submit this slightly modified version of original proposal text:

Delete last 2 pars. Add:

At the end we will see which concepts from algebra are embodied in our DSL.

[2015-06-11 01:29] #6 closed, assigned to karlroberts

[2015-06-11 01:29] #12 closed, assigned to nobody

[2015-06-11 01:30] #11 closed, assigned to arnolddevos

[2015-06-11 02:53] recurse commented on #11
Wondering if we could include a link to slides and/or video (if/when available) here?

[2015-06-14 23:01] tmcgilchrist commented on #17
Assuming this will be on Wed 8th July?

[2015-06-15 01:45] jedws commented on #17
yes, that is correct

On 15 June 2015 at 09:01, Tim McGilchrist notifications@github.com wrote:

[2015-06-17 06:22] charleso opened #20 "Life without stacktraces"
Would probably be fairly short (intro-level) talk.
EDIT: Actually it's starting to turn in to a full 30-minute talk.
1. Why we (used to) like stacktraces
2. Why/when we start to lose stacktraces with trampolining
3. How to do safe error handling (or at least one way) - the meat of the talk
4. Why this is better than stacktraces anyway

Or something like that.

[code]

Would people find this intere

[2015-06-19 03:30] jedws commented on #20
+1

[2015-06-21 10:15] filippovitale commented on #14
## Title and Abstract:

#### Let’s mash 2 monads to solve a simple CSP

Intermediate–level Scala talk that cover the 4 blog posts by Bartosz Milewski on solving a simple constraint satisfaction problem in C++ and Haskell.

Starting from an imperative–style implementation we will get to a pure FP–style solution surprisingly similar to the Haskell one promoted by Bartosz.

http://bartoszmilewski.com

[2015-06-29 01:06] jedws commented on #7
@inkytonik can you provide a final title and a one sentence description please? want to announce soon.

[2015-06-29 01:07] jedws commented on #16
@tmcgilchrist can you please provide a title and one sentence description please?

also note this is on July 8th (second Wednesday of the month).

[2015-06-29 01:50] inkytonik commented on #7
Title: Using LLVM from Scala
Description: This talk will show how LLVM intermediate representations can be created and processed by Scala code using a simple imperative language compiler as a case study.

[2015-06-29 22:52] tmcgilchrist commented on #16
Still working on the talk, so something like this is probably appropriate for now.

### Scala's Modular Roots

How Scala drew inspiration from Standard ML’s module system aka how to write some ML in your Scala.

[2015-07-10 02:56] newhoggy commented on #20
+1

[2015-07-10 03:18] filippovitale commented on #19
:+1:

[2015-07-10 03:18] filippovitale commented on #20
:+1:

[2015-07-10 07:38] etorreborre commented on #20
:+1:

[2015-07-27 00:29] etorreborre opened #21 "Eric Torreborre: talk about ambiata/origami"
This talk presents Origami, a [library](http://github.com/ambiata/origami) providing "monadic folds" to accumulate values (like mean, standard deviation, min/max) on "streams" of values which can be coming from iterators, scalaz-stream processes or Akka data flows.

[2015-07-27 06:17] #16 closed, assigned to nobody

[2015-07-27 06:17] #14 closed, assigned to filippovitale

[2015-07-27 06:17] #7 closed, assigned to inkytonik

[2015-07-27 06:24] #17 closed, assigned to nobody

[2015-07-27 06:24] #9 closed, assigned to nobody

[2015-07-27 06:27] jedws commented on #4
I don't know how to contact Stephen, if anyone can, please ask him to get in touch.

[2015-08-04 18:58] jedws commented on #19
@oliverdaff I know this is late notice, but would you be ready for next week?

[2015-08-04 18:59] jedws commented on #13
@conor10 I know this is late notice, but would you be ready for next week?

[2015-08-04 20:05] oliverdaff commented on #19
Sorry @jedws I can't make the meetup this month, I can do September though.

[2015-08-04 22:31] markhibberd commented on #21
@jedws Confirmed with @etorreborre that this is good for next week.

[2015-08-04 22:54] conor10 commented on #13
Yeah - it's basically the same talk as I did at YOW!West, so minimal prep required

[2015-08-05 05:10] jedws opened #22 "august meetup"
#13 Conor Svensson: Scala for Business Automation - Solving Real Business Problems with Streams, POI and a dash of BDD
#15 Ngoc Dao: i18n à la gettext
#21 Eric Torreborre: talk about ambiata/origami ([slides](http://www.slideshare.net/etorreborre/origami-a-monadic-fold-library-for-scala))

[2015-08-05 05:11] jedws commented on #21
@etorreborre can you provide a final description and title?

[2015-08-05 05:12] jedws commented on #13
@conor10 cool, scheduled!

I need a short overview for the meetup page, can you edit the above down for me?

[2015-08-05 06:31] etorreborre commented on #21
@jedws let's keep the original description:

[code]

[2015-08-05 07:22] jedws commented on #21
cool, thx!

[2015-08-05 07:59] conor10 commented on #13
Entry level talk on automating spreadsheet workflows with a bit of help from Streams, FlatSpecs and the Apache POI project. Plus a brief history lesson...

[2015-08-12 07:51] #22 closed, assigned to jedws

[2015-08-12 07:52] #15 closed, assigned to ngocdaothanh

[2015-08-12 07:52] #13 closed, assigned to conor10

[2015-08-12 07:52] #21 closed, assigned to nobody

[2015-08-12 09:16] altmattr opened #23 "Interpretation of Pattern matching in Scala"
I can talk about "compiled vs interpreted pattern matching" in the scala/haskell context. The main point is that scala is doing lots of "interpretation" when picking which case statement to execute. There are huge benefits to this, which I will talk about, but also performance penalties. I will include an account of Extractor Objects if you think a significant number of people will need that. A Ha

[2015-08-12 13:54] etorreborre commented on #23
:+1: I would be interested in what's knowing more about both translation schemes.

[2015-09-03 02:49] jedws commented on #19
@oliverdaff k, so next week then?

[2015-09-03 05:35] oliverdaff commented on #19
@jedws yes next Wednesday is fine, how long do you want the talk to be?

[2015-09-03 08:04] jedws commented on #19
30-40 mins, do you have any further description you want for it?

On 3 September 2015 at 15:35, Oliver Daff notifications@github.com wrote:

[2015-09-03 10:26] oliverdaff commented on #19
Hi @jedws

Functor, Apply, Applicative and Monad looking at how they work, why you should use them in your software and examples implemented in Scalaz.

[2015-09-11 00:00] ngocdaothanh commented on #19
@oliverdaff Can you kindly add a comment containing the link your presentation file to [the meetup page](http://www.meetup.com/scalasyd/events/225084242/)? Your talk was great, I want to I want to read your presentation file to study Scalaz but can't find it anywhere.

[2015-09-11 05:28] oliverdaff commented on #19
Hi @ngocdaothanh I'm glad you enjoyed the talk, apologies for being slow getting the slides out. I'll get the slides into a pdf and posted over the weekend.

[2015-09-13 10:47] oliverdaff commented on #19
Hi @ngocdaothanh I've posted the slides on slideshare http://www.slideshare.net/oliverdaff/functor-apply-applicative-and-monad as promised.

[2015-09-14 06:54] ngocdaothanh commented on #19
:+1:

[2015-09-24 23:02] karlroberts commented on #5
Hi Jed / Mark

Am I doing this this month?
Cheers

Karl

[2015-09-29 08:01] jedws commented on #5
yep, if you're up for it!

On 25 September 2015 at 09:02, Karl Roberts notifications@github.com
wrote:

[2015-09-29 08:01] #19 closed, assigned to nobody

[2015-09-29 08:01] #4 closed, assigned to nobody

[2015-09-29 08:02] jedws commented on #4
closed as we haven't heard from Stephen and don't know how to follow up.

[2015-09-29 08:02] jedws commented on #20
@charleso you up for October?

[2015-09-29 08:04] jedws commented on #23
@altmattr would you be ok to do this for the October 14 meetup?

[2015-09-29 22:27] charleso commented on #20
@jedws Not really. :( I've been working on a Haskell workshop for November and haven't had time to look at this. It would be very unprepared, which I think would make for a bad talk.

[2015-09-29 22:32] jedws commented on #20
bugger, we unfortunately have an empty cabinet next month

On 30 September 2015 at 08:27, charleso notifications@github.com wrote:

[2015-09-30 02:58] altmattr commented on #23
sure can.

Matt

[2015-09-30 04:08] jedws commented on #23
excellent, consider yourself booked!

On 30 September 2015 at 12:58, altmattr notifications@github.com wrote:

[2015-10-08 00:40] karlroberts commented on #5
yep Wed 14th Oct right? 2nd Wed in the month?

[2015-10-08 01:17] jedws commented on #5
yep, next week

On 8 October 2015 at 11:40, Karl Roberts notifications@github.com wrote:

[2015-10-10 01:20] jedws commented on #23
@altmattr Matt, can you send me or post here a short title and description and your full name? email jed at wesleysmith dot io, cheers!

[2015-10-10 01:24] jedws commented on #23
Matt, sorry, worked out from the link your full name, ignore me. Will extract a description but send through if edits required.

[2015-10-19 04:53] #5 closed, assigned to karlroberts

[2015-10-19 04:53] #23 closed, assigned to altmattr

[2015-11-07 22:07] charleso commented on #20
While not finished yet the slides are in a semi-reasonable state now.

http://blog.charleso.org/life-without-stack-traces/

[2015-11-07 22:25] jedws commented on #20
k,good stuff!.

unfortunately, I'm going to cancel the ScalaSyd for this month, we have no other talks and I shall probably be away anyway.

[2015-11-07 22:27] charleso commented on #20
Bugger.

[2015-11-08 10:36] arnolddevos commented on #20
I did not realise there was a shortage of talks. Maybe 3 talks per night is too many.  I think audience and presenter can be pretty tired by talk 3.

[2015-11-16 10:11] da-terry opened #24 "fun with scalaz-streams"
I can do a talk on various little things I'm regularly doing with/to streams, like:
- async (merge / queue / topic)
- fluent DSL with implicit classes
- transducers, reduce etc.

[2015-11-16 13:38] etorreborre commented on #24
:+1: I am very interested in this, I hope you can do it for the December meetup.

[2015-11-23 07:41] da-terry commented on #24
I should be able to get a talk together for December

[2015-11-23 21:48] jedws commented on #24
I'm afraid it looks like our next meetup won't be until February.

[2015-11-24 00:34] da-terry commented on #24
Aw really? Bummer. Well, I can do February as well :p

[2016-02-01 04:31] triggerNZ opened #25 "Shapeless hacking - exploring the power of the Dark Side"
# An intro to dark-side typelevel programming with shapeless
- A demo of some cool things that are possible
- Type-level programming techniques in Scala, focusing on shapeless
- Some warnings about how overdoing this stuff can be dangerous
- Encouragement to ignore the dangers and embrace the raw power
- Star Wars references.

I'm happy to do this in March, or any time a slot is available.

[2016-02-01 11:24] jedws commented on #25
excellent, sounds great! consider your self booked for March.

[2016-02-06 04:38] arnolddevos opened #26 "Type Member vs Type Parameter: Which? Why?"
Path dependent types distinguish scala from other commonly used languages. But what can we do with PDT's that we can't (easily) do by introducing type parameters?  In other words, why do we care about PDTs?

In a recent paper about DOT Odersky et al show an example of the usefulness of PDTs.  But this example is easily recoded with type parameters. See here: https://gist.github.com/arnolddevos/09e

[2016-02-06 11:00] etorreborre commented on #26
Hi Arnold, pedantic question but shouldn't the talk be named "Type members vs Type parameters"? Path-dependent types are a consequence of having type members.

[2016-02-06 23:40] arnolddevos commented on #26
Well scala is not the only "commonly used" language with type members.  Associated types in Rust seem to fit that description. The path dependence is what makes scala's type members different. It makes the given example work in scala while it would not work in Rust.  More deeply, path dependence is what makes DOT tick and enables encoding of several, formerly different, type system concepts in ter

[2016-02-07 01:00] arnolddevos commented on #26
Hi again Eric, I am still thinking about your comment above.  Maybe my proposed talk should be advertised as "Type Member vs Type Parameter .."  and it can "emerge" in the talk that type members are path dependent and what that means and why it is significant.

[2016-02-07 03:02] jedws commented on #26
sounds good to me

On 7 February 2016 at 12:00, Arnold deVos notifications@github.com wrote:

[2016-02-07 16:33] etorreborre commented on #26
@arnolddevos I agree, path-dependent types is a much stronger property of the type system. Otherwise type members are just "named" type parameters, with rules for overriding etc... that you have for members in general.

[2016-02-11 00:43] #20 closed, assigned to nobody

[2016-02-11 00:43] #18 closed, assigned to nobody

[2016-02-11 06:13] jedws commented on #24
do you think you can do March?

[2016-03-02 22:58] arnolddevos commented on #26
@jedws do you want this talk next week?  if so, I had better prepare.

[2016-03-04 03:00] jedws commented on #26
@arnolddevos yes, I certainly hope so – I announced it already!

http://www.meetup.com/scalasyd/events/229271693/

[2016-03-04 03:11] arnolddevos commented on #26
All good.  This talk will aim to be meaningful to all (not just scalazi and other bearded ones) and will run strictly to time.  No need to relegate me to the midnight (I mean #3) slot. :-)

[2016-03-04 03:15] jedws commented on #26
no worries, will try and work out a good running order

[2016-03-05 00:48] jedws commented on #26
scheduled for March 9 http://www.meetup.com/scalasyd/events/229271693/

[2016-03-05 00:48] #26 closed, assigned to nobody

[2016-03-05 00:48] jedws commented on #25
scheduled for March 9 http://www.meetup.com/scalasyd/events/229271693/

[2016-03-05 00:48] #25 closed, assigned to nobody

[2016-03-05 00:48] jedws commented on #24
scheduled for March 9 http://www.meetup.com/scalasyd/events/229271693/

[2016-03-05 00:48] #24 closed, assigned to da-terry

[2016-03-07 01:30] triggerNZ opened #27 "Order this Wednesday"
I noticed that both myself and @arnolddevos are speaking about type-level programming this week. It may be worth coordinating to find the optimal order. It seems to me that 'Type Member vs Type Parameter: Which? Why?' should come first, but @arnolddevos, I would value your opinion. I can add you to my private slides repo if it helps.

[2016-03-07 02:44] arnolddevos commented on #27
Also, one of my examples is a simple HMap (different to the shapeless one).  I am trying to keep my talk at a simple level but it is a battle.     It would be great if I could include some forward references to your talk.

[2016-03-07 02:50] triggerNZ commented on #27
That's cool. I don't present HMaps so we should be fine :). Actually I don't present much of the shapeless API, I am more trying to demonstrate recursive-style type level programming, because that is what shapeless is pretty much always doing under the hood.

Added you to to my talk repo, content is at `slides/slides.md`. I will make some further changes, but it is 90% complete

[2016-03-07 03:06] arnolddevos commented on #27
I am not doing any examples with recursive types, eg HList.  More like the opposite, heterogeneous collections where the types are lost to the world outside.

[2016-03-07 03:07] triggerNZ commented on #27
Cool! Nice review of related but nonoverlapping concepts then :+1:

[2016-03-07 03:10] arnolddevos commented on #27
Yes, good.  When @jedws  catches up with this thread: I can go in any position on the card notwithstanding my preference to avoid the graveyard shift.

[2016-03-07 03:13] triggerNZ commented on #27
Since it looks like we don't have dependencies, I am fine with any order

[2016-03-07 06:21] jedws commented on #27
seems like Arnold then Tin would be a good fit. Dunno where that will leave
Alex, perhaps first.

On 7 March 2016 at 14:13, Tin Pavlinic notifications@github.com wrote:

[2016-03-07 06:59] da-terry commented on #27
I'm cool with any slot.

On 7/03/2016 5:21 pm, Jed Wesley-Smith wrote:

[2016-03-29 02:15] max-leuthaeuser opened #28 "Pure Embedding of Dynamic Objects"
**Title**
Pure Embedding of Dynamic Objects

**Description**
Scripting languages like Python, JavaScript, Ruby, Perl or Lua offer very flexible object semantics to the developer. On the one hand side, programmers can rely on classical object-oriented features, such as inheritance, encapsulation and polymorphism, and on the other, they are able to add and remove members from existing objects or mer

[2016-03-30 09:08] charleso opened #29 "Immutable Infrastructure using FP design patterns"
@nhibberd

[2016-03-30 11:35] #27 closed, assigned to nobody

[2016-03-31 22:47] charleso commented on #28
@max-leuthaeuser would you be OK to lock this talk in for April?

[2016-03-31 22:47] charleso commented on #29
@nhibberd Would you be OK to do this talk on April 13th? If so do you mind adding an abstract?

[2016-03-31 22:48] charleso opened #30 "What the hell is lightbend?"
Hey @jedws, did you manage to get a confirmation from James/Chris about doing a talk this month?

[2016-03-31 23:27] jedws commented on #30
@charleso no, sorry, haven't heard anything from them

[2016-04-01 02:38] mjhopkins opened #31 "Macro-based smart constructors"
Smart constructors are a nice pattern for building data types that need extra validation or calculation.

But in the case when we're building our data type from statically known values, they leave us with two annoyances:
- it's more clunky
- we have a run-time test for something that's known at compile time.

We'll investigate how Scala macros can help us address these problems while retaining saf

[2016-04-01 05:48] huntc commented on #30
I'm happy to come and chat about what Lightbend is.

I presume that you would like to understand its relationship with Scala, and also the Scala Centre?

Perhaps you could elaborate further on what you'd like to understand.

[2016-04-01 05:58] jroper commented on #30
I'm a bit busy this month, but if you want an answer to your question, there's actually three answers:

https://en.wikipedia.org/wiki/Refraction
https://en.wikipedia.org/wiki/Diffraction
https://en.wikipedia.org/wiki/General_relativity

[2016-04-01 06:04] charleso commented on #30
@huntc @jroper Actually we managed to find another talk. Might be good to catch up at ScalaSyd to talk about what we're looking for (the short answer being that it's pretty open ended).

[2016-04-01 06:08] jroper commented on #30
I actually live in Canberra now, so I don't make it to ScalaSyd that often.

[2016-04-01 06:29] huntc commented on #30
I'll come up for the next one and we can chat then. Cheers.

[2016-04-01 06:33] max-leuthaeuser commented on #28
Yes, that's ok.

[2016-04-05 02:04] charleso commented on #29
@jedws Doesn't look like Nick is going to have time to finish this before next week. Want me to talk to Chris to see if he can do the LightBend talk after all?

[2016-04-05 02:58] jedws commented on #29
I'll leave it in your capable hands @charleso !

On Tuesday, 5 April 2016, charleso notifications@github.com wrote:

[2016-04-06 01:08] huntc commented on #30
As per chat with @charleso - I'm happy to do a chat on Lightbend, Scalacenter etc. Keep the title as per this issue - I like it!

[2016-04-15 21:39] #30 closed, assigned to nobody

[2016-04-15 22:32] charleso opened #32 "scala.js"
https://www.scala-js.org/

Would be even better if we could find someone using it in production.

[2016-04-15 22:32] charleso commented on #32
Kindly suggested by @arnolddevos

[2016-04-15 23:05] inkytonik opened #33 "The Expression Problem, Trivially"
A nice talk might be constructed around this four-page paper: [The Expression Problem, Trivially](http://i.cs.hku.hk/~bruno/papers/Modularity2016.pdf) by Wang and Oliveira. The paper describes what the expression problem is and gives a new very simple solution in Scala. This result is surprising since many people have tried  for many years to solve the expression problem in sometimes quite complex

[2016-04-17 00:09] charleso commented on #28
Thanks @max-leuthaeuser, great talk.

[2016-04-17 00:09] #28 closed, assigned to nobody

[2016-04-17 00:10] charleso commented on #31
Thanks @mjhopkins, very much appreciated.

[2016-04-17 00:10] #31 closed, assigned to nobody

[2016-04-24 00:47] charleso opened #34 "Scala 2.12, Java 8 and You"
Might be good to have a talk about the upcoming Scala 2.12, and in particular the interaction with Java 8.

[2016-05-03 01:37] inkytonik opened #35 "Academese to English: A Practical Tour of Scala’s Type System"
Heather Miller gave a well-received talk at Philly ETE on this topic. Her slides are here:

https://speakerdeck.com/heathermiller/academese-to-english-a-practical-tour-of-scalas-type-system

In the absence of Heather, this might be a good one for someone to present on her behalf to ScalaSyd. It would be a good talk for an audience of beginners or medium-level Scala developers.

[2016-05-04 08:29] jedws commented on #35
It would be nice to ask Heather for permission, and perhaps any resources she might also have. Is there a video of her talk for a would-be presenter? Also, might be worth asking if she'd be interested in giving it remotely, that'd be interesting.

@inkytonik would you/could you perhaps contact Heather about it?

[2016-05-04 09:14] inkytonik commented on #35
I'm happy to contact her. I was intending to leave that sort of thing until we had a volunteer, since it might all be for nothing if we never get one, but it can't hurt to check now.

I'll also ask if she's interested in a remote talk. Can we do that technically?

[2016-05-05 23:51] altmattr commented on #33
I would be interested in presenting this paper - I can do it this month if necessary.

[2016-05-06 00:24] charleso commented on #33
@altmattr That would be great. We might actually have enough speakers! Can I lock this in?

[2016-05-06 00:25] altmattr commented on #33
@charleso lock it in

[2016-05-06 00:26] charleso commented on #33
@altmattr Brilliant!

[2016-05-06 00:30] markhibberd opened #36 "Don't Fear The Parser"
A gentle introduction to parsing in scala.

This talk will slowly build up a simple parser from the basic building blocks.

This talk will be aimed at an intro/intermediate level, in the hope of giving people enough confidence to reach for writing their own parsers in a production setting.

[2016-05-06 01:02] inkytonik opened #37 "sbt-rats parser generator plugin"
Following on from Mark's [Don't Fear the Parser talk](https://github.com/scalasyd/scalasyd/issues/36) talk, I can give an update on our [sbt-rats parser generator plugin](https://bitbucket.org/inkytonik/sbt-rats) for sbt. I've talked about this before at ScalaSyd but I think it's been a few years...

I would prefer to do it no earlier than July since I'm busy with teaching and paper deadlines unti

[2016-05-06 01:25] jedws commented on #37
👍

[2016-05-06 01:31] seanesss opened #38 "Writing games for Android in Haskell"
In 2014 I wrote a mobile game in Haskell called Epidemic. Eventually I was able to deploy it to Android. This talk will tell the story of how I accomplished this and then give a tour of the game design itself. The game itself can be found on the Google Play store by searching for "Epidemic declarative games"

[2016-05-11 09:07] charleso commented on #38
Thanks @sseefried!

[2016-05-11 09:07] #38 closed, assigned to nobody

[2016-05-11 09:07] charleso commented on #33
Thanks @altmattr !

[2016-05-11 09:07] #33 closed, assigned to altmattr

[2016-05-11 09:07] charleso commented on #36
Thanks @markhibberd !

[2016-05-11 09:07] #36 closed, assigned to markhibberd

[2016-05-12 00:24] charleso opened #39 "Higher-Kinded Types"
Previous time we saw this was [Episode 33](http://www.meetup.com/scalasyd/events/220240445/) and [Episode 24](http://www.meetup.com/scalasyd/events/173470592/) before that.

Keeping it at the intro level might be good.

[2016-05-12 00:26] charleso opened #40 "Tic-Tic-Toe: API Design with types"
http://blog.tmorris.net/posts/understanding-practical-api-design-static-typing-and-functional-programming/

[2016-05-12 03:06] charleso opened #41 "Algebraic Data Types"
Talk about folds too

[2016-05-12 03:12] arnolddevos opened #42 "Library tour: FastParse"
I recently used fastparse and thought it was pretty nice.

http://www.lihaoyi.com/fastparse/

[2016-05-12 03:15] charleso commented on #42
@arnolddevos You mind if I change this issue to being a specific proposal from you about fastparse?

[2016-05-12 03:23] arnolddevos opened #43 "dotty"
I find this development of scala interesting, which I am following via Odersky's various talks and his paper. (Most recently: ScalaDays NYC. http://www.slideshare.net/Odersky/scala-days-nyc-2016 )  Perhaps others are also interested?  A talk from someone who has played with dotty would be great.

[2016-05-12 03:49] arnolddevos commented on #42
@charleso I guess I have a general suggestion and (I concede) a specific proposal.   So, OK, change it.

[2016-05-12 04:19] charleso commented on #42
@arnolddevos Yeah not sure what to do with general suggestions - almost feels like a section on the `README.md` for general talk ideas.

[2016-05-12 10:25] charleso opened #44 "Scala Native"
http://www.scala-native.org/

[2016-05-12 10:28] jhinch commented on #34
Are you still looking for a speaker to talk on this topic?

[2016-05-12 10:32] charleso commented on #34
@jhinch Not as of yet. It's all yours if you want it!

Is it something you would be looking to give next month, or would you want more time to prepare? (No rush, just asking)

[2016-05-12 11:25] jhinch commented on #34
I'd be happy to give the talk. If you need a talk for next month I think I can manage to put it together.

[2016-05-13 01:15] inkytonik commented on #35
I emailed Heather via her EPFL account but haven't had a response yet. Probably she is too busy with ScalaDays right at the moment. In the meantime her talk is here:

https://www.youtube.com/watch?v=67UNErFdr64

[2016-05-13 07:16] jedws commented on #34
@jhinch consider yourself booked!

On 12 May 2016 at 21:25, Jason Hinch notifications@github.com wrote:

[2016-05-15 07:54] mjhopkins opened #45 "How do functional programmers do dependency injection?"
This talk would be a Scala port of my YLJ16 talk "Stop paying for free monads".

The FP answer to "how do we do dependency injection" is to turn the question around and instead ask, what operations would you perform if you had these dependencies? Now we can reframe the question as being about defining languages of operations, and interpreters for those languages. To achieve reuse, both languages a

[2016-06-01 03:55] charleso commented on #45
@mjhopkins You still on for next week?

[2016-06-02 08:08] mjhopkins commented on #45
Sorry, just saw this now. Yes.

[2016-06-09 02:03] #29 closed, assigned to nobody

[2016-06-09 02:03] charleso commented on #45
Thanks again @mjhopkins

[2016-06-09 02:03] #45 closed, assigned to nobody

[2016-06-09 02:03] charleso commented on #34
@jhinch You good for next month - the 6th of July?

[2016-06-09 02:06] charleso commented on #42
@arnolddevos Thinking about it some more this might be a good talk for next month, you interested?

[2016-06-09 02:09] jhinch commented on #34
Yep. All good. Sorry, I would have confirmed last night but I was unable to attend the June meetup

[2016-06-09 02:12] charleso commented on #34
Sweet! Thanks. :)

[2016-06-09 02:49] mjhopkins commented on #45
No worries, happy to help.

[2016-06-09 04:59] arnolddevos commented on #42
@charleso At your service:   I will go ahead and prepare something.  This would continue the theme of @markhibberd 's parser talk and will be at the 'easy-ish' level.

We will develop a parser for the 'ledger' accounting journal format defined here http://ledger-cli.org/3.0/doc/ledger3.html#Journal-File-Format-for-Developers

In case you have never heard of it, various software has been written, o

[2016-06-09 06:23] jedws commented on #39
I'm up for this

[2016-06-09 06:24] charleso commented on #39
Cool. Want to do this in August?

[2016-06-09 07:14] mjhopkins opened #49 "Ammonite"
I'd love to hear a talk on Li Haoyi's [Ammonite](https://github.com/lihaoyi/Ammonite) (better REPL + file system library + Scala shell).

[2016-06-10 04:35] jedws commented on #39
sure

On 9 June 2016 at 16:24, charleso notifications@github.com wrote:

[2016-06-10 12:12] charleso opened #50 "Immutable Data for Scale, Flexibility and Safety: Event Sourcing and CQRS from the Trenches"

[2016-06-21 11:53] stephennancekivell opened #51 "Comparing reader writer patterns"
Hi, Im interested in giving a presentation comparing reader and writer patterns. But I think this has been touched on a few times before.

Do you think this would be a good topic ?

I want to emphasise to newbies how use of the type system can help prevent errors.

Comparing
- type casting
- inheritance
- implicit converters

[2016-06-22 04:53] charleso commented on #51
@stephennancekivell Thanks for the offer, I don't think the fact that we've seen it before is necessarily an issue. That said, would you be ok with catching at next ScalaSyd to discuss your talk and walk through what you had in mind?

[2016-06-22 04:55] stephennancekivell commented on #51
Sure sounds good.

On Wed, 22 Jun 2016, 14:53 charleso notifications@github.com wrote:

[2016-07-04 00:26] charleso commented on #34
@jhinch Did you have a title/description for your talk that you want use to use for the meetup event?

[2016-07-04 00:26] charleso commented on #42
@arnolddevos Did you have a title/description for your talk that you want use to use for the meetup event?

[2016-07-04 02:20] arnolddevos commented on #42
@charleso "exploring scala libraries: fastparse" Continuing the recent theme of parsing, this talk shows off a full featured, fast and easy to use parser library.  Those coming to scala from java or python will see a very different approach to creating robust parsers.  We will touch on parsers, internal DSL's, external DSL's and double entry bookkeeping.

[2016-07-04 02:21] arnolddevos commented on #42
@charleso I assume the scalasyd meeting will be on 13th July?

[2016-07-04 02:26] charleso commented on #42
@arnolddevos Thanks! The 13th is my current assumption.

[2016-07-04 02:30] arnolddevos commented on #42
@charleso feel free to edit that title/description

[2016-07-04 23:54] jhinch commented on #34
@charleso how about:

**Title**: Scala 2.12: A byte size code exploration

**Description**: Jason Hinch will take you on a low level tour of the upcoming Scala 2.12 release, looking into how well it makes use of the Java 8 platform and how it affects you.

[2016-07-05 00:05] charleso commented on #34
@jhinch Sounds good!

[2016-07-13 19:13] charleso commented on #34
Thanks @jhinch

[2016-07-13 19:13] #34 closed, assigned to nobody

[2016-07-13 19:14] #50 closed, assigned to nobody

[2016-07-13 19:16] charleso commented on #42
Thanks @arnolddevos

[2016-07-13 19:16] #42 closed, assigned to nobody

[2016-07-14 09:42] stephennancekivell commented on #51
Hey @charleso,

Heres my repo with some simple comparisons.
https://github.com/stephennancekivell/type-converter-patterns/tree/master/src/main/scala

As discussed my plan is to lead people through casting and inheritance to type classes. While pointing out how to write safer code. Runtime vs compile time errors, and simple error message composition.

At the end There will be a shout out to popular

[2016-07-15 09:18] MichaelShaw opened #52 "Building trust free apps in a hostile world"
Synchronization of data across multiple systems can be painful, especially for systems that can't guarantee a reasonable level of uptime.

From first principles we'll design a multi-master eventually consistent data store using CRDTs (Commutative Replicated Data Types) to serve as the backbone of distributed apps that can work without a constant connection to central servers.

We'll look at the in

[2016-07-23 02:36] #51 closed, assigned to nobody

[2016-08-02 01:58] charleso commented on #52
@MichaelShaw Did you have a slight more fleshed-out description that I can use for the meetup page?

[2016-08-02 01:59] charleso commented on #39
@jedws Did you have a title/description that I can use for the meetup page?

[2016-08-02 02:02] MichaelShaw commented on #52
Sure, will write something up later today.

[2016-08-02 02:59] jedws commented on #39
### Types of a Higher Kind

Scala's type system is a significant advance on Java's. One of the most important features is Higher Kinded Types, as it allows abstracting across containers and type constructors. What does this mean and how does it lead to powerful, generic libraries like scalaz and others? This talk will introduce these concepts and explain how to use them effectively.

[2016-08-02 22:18] charleso commented on #39
Thanks Jed!

[2016-08-10 11:47] charleso commented on #52
Thanks @MichaelShaw !

[2016-08-10 11:47] #52 closed, assigned to nobody

[2016-08-10 11:48] charleso commented on #39
Thanks @jedws !

[2016-08-10 11:48] #39 closed, assigned to jedws

[2016-08-10 11:51] charleso opened #53 "GADTs"
- What are they?
- What is their encoding in Scala (http://lambdalog.seanseefried.com/posts/2011-11-22-gadts-in-scala.html)
- Why would you use them?

/cc @tmcgilchrist

[2016-08-10 12:06] charleso opened #54 "Shrinking ScalaCheck"
For over 10 years John Hughes' QuickCheck has been the gold standard for property-testing libraries, and has been ported faithfully to many languages, including [Scala](https://github.com/rickynils/scalacheck). However, the disconnect between generators and shrinking often means that the latter gets ignored. It turns out with a small tweak to the internals we can bridge that gap when composing.

T

[2016-08-10 12:08] charleso commented on #54
I got this.

I think we should definitely do an unrelated introduction property-testing talk, because you can never have too many.

[2016-08-10 21:46] arnolddevos commented on #54
You can never have too many.  Property testing is the most under-
appreciated advantage of FP.

##

Arnold deVos
adv@backgroundsignal.com

On Wed, Aug 10, 2016, at 10:08 PM, charleso wrote:

Links:
1. https://github.com/scalasyd/scalasyd/issues/54#issuecomment-238847411
2. https://github.com/notifications/unsubscribe-auth/AAB-Vn48_1jDoq0BEkxaXzuHc1LnxnYLks5qeb9NgaJpZM4JhEtm

[2016-08-10 23:25] tmcgilchrist commented on #53
Will do the needful.

[2016-08-12 05:19] jinilover opened #55 "Values, Type, Kind, Type Class - fundamental of FP"
- Use FP approach (via Haskell and human language) to give ppl. (hopefully non-programmers as well) the correct understanding on these fundamentals.
- How these fundamentals produce the basic abstractions of Monoid, Monad and Applicative.
- Explain how Scala or Scalaz implement it in a "confusing" way.

[2016-08-12 21:52] charleso commented on #54
Shit, I can't calendar. Just realised I'm not going to be here next month, going to be on holiday for 3 weeks. Will have to give this later this year.

[2016-08-19 14:38] newhoggy opened #56 "Semi-Indexing JSON"
An in memory JSON DOM can occupy around an order of magnitude more space in memory than the equivalent text representation of the same JSON.  This talk proposes to build a small semi-index over JSON text that allows DOM-like navigation of the JSON text without actually parsing it.

[2016-08-19 23:02] karlroberts commented on #56
+1

[2016-08-23 01:28] triggerNZ opened #57 "Testing for dummies"
In the spirit of doing more beginning talks:
## Scala testing for dummies
- A quick overview of the various libraries out there
- Unit tests
- Integration tests with mocks/fakes where required
- Property-based testing
- Starting with a simple "service" function, live-coding and running some tests for it at each of the three levels.

Aimed at beginners, experienced Scala developers who are shipping

[2016-08-23 01:30] charleso commented on #57
@triggerNZ Excellent! We might have a beginner talk scheduled for September already, but can I put you down for October 12th?

[2016-08-23 01:53] triggerNZ commented on #57
Sure :+1:

[2016-08-23 12:32] jinilover commented on #41
Just a type, why called Algebraic Data Type?
Algebraic Data Type is an essential feature in functional programming.  The idea is quite simple and we are using it every day without aware of its algebraic nature.  This introductory talk will explain how algebraic this data type is, why it is important in FP.  It will also introduce how Scala, a JVM, object-oriented, language implements this feature.

[2016-08-23 22:06] tmcgilchrist commented on #41
When's this one scheduled for @charleso I'll touch on a few ADT things in my talk this month, but if I know there is another more detailed talk I'll skip over things.

[2016-08-23 22:12] charleso commented on #41
@tmcgilchrist It's scheduled for next month too.

Whoops, I didn't even think of the overlap. Not sure if that's a good thing or not. It's a "theme" now I guess.

[2016-09-09 00:28] #55 closed, assigned to nobody

[2016-09-18 16:07] charleso commented on #56
Thanks @newhoggy! I hope it went well and I'm sorry I wasn't there to see it.

[2016-09-18 16:07] #56 closed, assigned to nobody

[2016-09-18 16:07] charleso commented on #41
Thanks @jinilover! I hope it went well and I'm sorry I wasn't there to see it.

[2016-09-18 16:07] #41 closed, assigned to nobody

[2016-10-03 21:22] charleso commented on #57
@triggerNZ Just want to confirm, are you OK to talk next Wednesday?

[2016-10-03 21:28] triggerNZ commented on #57
@charleso actually something personal came up and i won't be able to do next week. So sorry! Any chance of bumping it?

[2016-10-03 21:30] charleso commented on #57
@triggerNZ No worries. I hope everything is OK. Sounds like you would be up for next month though?

[2016-10-03 21:38] triggerNZ commented on #57
Yep next month will be fine :+1:

[2016-10-04 09:27] jousby opened #58 "Scala @ Macquarie"
- How we used Gradle as a polyglot build tool to help get Scala in the door amongst existing Java teams.
- A polyglot grade build case study (NodeJs/React + Scala REST API + Flyway Schema Evolutions).

[2016-10-12 06:01] huntc opened #59 "When the demo gods are (not) on our side"
If there's interest then I'd like to do my recent ReactiveSummit presentation on "when the demo gods are (not) on our side". It is a live demo of failure and how it can be managed within production. The talk isn't strictly Scala, but it does illustrate Scala being used to manage resiliency in production.

[2016-10-12 06:01] huntc commented on #59
I also have some job openings. :-)

[2016-10-12 21:17] charleso commented on #59
@huntc Thanks for the offer. Despite a cancellation this month we're actually looking good for November, and hopefully can organise a YOW-themed December, so perhaps some time next year?

[2016-10-31 21:36] charleso commented on #57
@triggerNZ Time flies! You ready for next week?

[2016-10-31 21:36] charleso commented on #58
@jousby Time flies! You ready for next week?

[2016-10-31 21:54] triggerNZ commented on #57
@charleso yep :+1:

[2016-11-01 11:09] jousby commented on #58
@charleso thanks for the reminder. Yep all good for next week.

[2016-11-08 11:03] stephennancekivell opened #60 "Scala Tricks with Futures"
Scala Tricks with Futures
-------------------------
* Talk about Futures (scala.concurrent.Future), why you might want to model time and threads or async
* Basic usage, map / flatMap. These are not promises, we don't fulfil them they are composed.
* Describe how you do many things concurrently and put them together. Sequence. Show how to write Sequence.
* Describe why you might want to do async th

[2016-11-09 20:37] charleso commented on #58
Thanks @jousby, great talk. I'm interested in hearing about the Scala DSL at some point. ;-)

[2016-11-09 20:37] #58 closed, assigned to nobody

[2016-11-09 20:39] charleso commented on #57
Thanks @triggerNZ, great talk. I think I've decided we should have another property-testing talk very soon, it's been almost 2 years since the last one!

[2016-11-09 20:39] #57 closed, assigned to nobody

[2016-11-11 22:01] don41382 opened #61 "Parametricity: make your application more robust & Monoid: Understanding the concept"
Hey, I am working with Scala for now 7 months and would like to share some of my experiences. Since I am still a beginner, the material is not too advanced and quite good for Scala starter.

**Parametricity**
- what's the idea behind it?
- why is it important?
- a short sneak preview into Theorems for free

**Meet the Monoid**
- smooth transition from Parametricity into Monoid :)
- the idea about

[2016-11-12 06:47] japgolly opened #62 "Recursion non-recursively!"
There are some absolutely fantastic discoveries that make it trivial to work with recursive data types. Unfortunately, they aren't common knowledge amongst programmers in general. A significant part of the reason is that the theory is dense with jargon, and in a form that imposes a high barrier of entry. This is a property of the medium and not the content, and so I will present algebras, coalgebr

[2016-11-12 07:24] japgolly commented on #62
Also: this needs around an hour.

[2016-11-13 22:42] charleso commented on #61
Thanks @don41382, sounds good.

I think we're actually looking pretty good for December at this stage, but keen too see this talk first next year. We often don't have a meetup in January due to people's Xmas schedules, but will try to let you know before the end of the year what the plan it.

[2016-11-14 01:48] charleso commented on #60
@stephennancekivell Just out of curiosity, how long roughly is your talk likely to be? You ok with speaking on Dec 14th?

[2016-11-14 01:49] charleso commented on #62
Thanks @japgolly ! You ok to give this talk on Dec 14th?

[2016-11-14 01:59] stephennancekivell commented on #60
Hi, yea I could do then. It's probably 30-40 minutes. I can adjust the time
on the fly pretty easy. I'll also ask how long I need to spend on the
basics, hopefully not too long.

On Mon, 14 Nov 2016, 12:48 charleso notifications@github.com wrote:

[2016-11-14 02:03] charleso commented on #60
@stephennancekivell Awesome. My personal suggestion is to cap the talk to 25-30 minutes max and cut scope accordingly. :) The audience is (always) going to be mixed, so you really just have to decide what you most want to cover.

If you get a second, did you mind posting a fluffy description of the talk that I can use for the next Meetup? I'm not going to announce it until month so no rush.

See y

[2016-11-14 02:05] stephennancekivell commented on #60
Sure thing. Thanks

On Mon, 14 Nov 2016, 13:03 charleso notifications@github.com wrote:

[2016-11-14 03:40] japgolly commented on #62
Yes, that's works for me.

[2016-11-16 02:13] don41382 commented on #61
@charleso sounds good to me. Just let me know once you now the dates!

[2016-12-02 02:40] stephennancekivell commented on #60
Hi @charleso. Heres what I've got for a talk description, Thanks.

Tricks With Futures
--------------------
Stephen Nancekivell

How you can use scala Futures for Asynchronous programming and some easy tricks for working with them.

[2016-12-02 22:37] charleso commented on #60
Thanks @stephennancekivell. The next ScalaSyd will be on the 14th, you still OK to speak then?

[2016-12-02 22:48] stephennancekivell commented on #60
Yea mate. Looking forward to it.

On Sat, 3 Dec 2016, 09:37 charleso <notifications@github.com> wrote:

[2016-12-07 04:35] charleso commented on #62
Scheduled!

https://www.meetup.com/scalasyd/events/236084883

[2016-12-07 04:36] charleso commented on #60
Scheduled!

https://www.meetup.com/scalasyd/events/236084883/

[2016-12-07 08:53] etorreborre commented on #60
@charleso would that be possible to paste a link to the presentation slides on github once a talk has been given?

[2016-12-11 22:42] charleso commented on #60
@stephennancekivell did you mind posting the slides either here and/or to the meetup page after the event?

[2016-12-11 22:44] stephennancekivell commented on #60
Yea sure, no worries guys.

[2016-12-14 11:23] stephennancekivell commented on #60
Hey @etorreborre the slides are in this repo.
https://github.com/stephennancekivell/fun-futures

[2016-12-14 11:24] etorreborre commented on #60
@stephennancekivell thank you!

[2016-12-14 23:10] charleso commented on #60
Thanks again Stephen.

[2016-12-14 23:10] #60 closed, assigned to nobody

[2016-12-15 01:29] renpillay opened #63 "Types and a basic usecase for them"
A beginner focused talk on building a library interface to a basic RESTful API. Will involve
- A naive implementation of the library with poor practices (nulls, exposing little information through the types)
- A slightly better implementation using Options to explain how safety can be achieved
- A better implementation still using types to represent the state of the API to show how the library can

[2016-12-15 02:08] charleso commented on #63
@renpillay Thanks for the proposal. We're going to skip January. How would feel about giving this in February or March? I suspect it might be the latter at this stage, but I would have to get back to you.

[2016-12-15 03:37] renpillay commented on #63
I'm happy to do either month.

[2016-12-17 02:01] stephennancekivell opened #64 "akka streams"
* What is akka streams and reactive streams
* Comparison of a good scenario where akka streams will help.
* Connectors

This might be a longer talk ~1 hour. So Im happy to do this when ever.

[2016-12-20 21:36] karlroberts opened #65 "The Rise and hopefully Fall of the Aux Pattern"
Intermediate level talk exploring some  dependant types use cases and some of the hoops we need to jump through to get them to work.

The motivation for this talk was to help make it easier to understand the code we see in libraries like Shapeless.

Should be ready Feb 2017 or at a push Jan 2017

[2016-12-20 21:38] charleso commented on #65
@karlroberts Awesome! No rush, we don't have a meetup in Jan, Feb is already full. You available for March?

[2016-12-20 21:42] karlroberts commented on #43
+1

[2016-12-20 21:44] karlroberts commented on #44
+1  would be cool to know how this works and what you can and can't do with it

[2016-12-20 21:46] karlroberts commented on #37
+1

[2016-12-22 01:35] karlroberts commented on #65
Yep book me in :-)

[2017-02-07 20:20] charleso commented on #63
@renpillay We're finally back to our regular schedule. Would you be able to talk next month, on March 8th?

[2017-02-07 23:28] renpillay commented on #63
Sounds good, I'll get some slides ready.

[2017-02-07 23:29] charleso commented on #63
Thanks @renpillay :)

[2017-02-09 00:10] charleso commented on #61
@don41382 sorry for the delay, I can't believe it's February already! Martin's surprise visit has obviously pushed us out by a month. We're already full for March, but would you be available for speaking on the 12th April?

[2017-02-09 00:12] charleso commented on #65
@karlroberts Sorry for the delay Karl. Martin's talk has obviously pushed us out by a month, and we're full for March already. Would you be available to speak on 12th April?

[2017-02-09 00:18] don41382 commented on #61
no worries. works for me

[2017-02-09 00:19] charleso commented on #61
@don41382 Excellent! Just out of curiosity, just roughly how long is the talk?

[2017-02-09 00:27] don41382 commented on #61
30 - 40 minutes

[2017-02-14 00:34] karlroberts commented on #65
yes no problem :+1:

[2017-02-14 00:57] charleso commented on #65
Thanks Karl!

[2017-02-14 01:00] charleso commented on #64
@stephennancekivell Sorry for the delay. We've got full nights for March and April. LambdaJam is the day before the May night, so I might try to keep that clear for guest speakers who are in town. I know it's a while away but how does 14th of June sound at this stage?

[2017-02-14 01:03] stephennancekivell commented on #64
Hi @charleso, Its good that we have so many speakers. June sounds ok at this stage, lets pencil it in.

[2017-03-01 22:14] charleso commented on #63
It's on! https://www.meetup.com/scalasyd/events/238094321/

[2017-03-01 22:14] charleso commented on #62
This time for sure! :) https://www.meetup.com/scalasyd/events/238094321/

[2017-03-08 11:38] charleso commented on #62
Brilliant! Thanks @japgolly

[2017-03-08 11:38] #62 closed, assigned to nobody

[2017-03-08 11:40] charleso commented on #63
@renpillay Great talk!

[2017-03-08 11:40] #63 closed, assigned to nobody

[2017-03-09 02:19] japgolly commented on #62
No worries @charleso, and thanks for pushing me initially; perfection and self-consciousness be damned, I'm glad I did it.

Slides and code here: https://github.com/japgolly/learning/tree/public/talks/20170308-ScalaSyd-Rercursion
I added the link to in the meetup page comments already too.

[2017-03-10 08:54] arnolddevos commented on #61
@don41382 Hi Felix, I trust you are still good for April?

[2017-03-10 08:55] arnolddevos commented on #65
@karlroberts Hi Karl, I trust you are still good for April?

[2017-03-10 10:32] arnolddevos opened #67 "Implicits: heaven or hell?"
Implicits are in the news.  We heard some of Martin's plans for this feature of the language at scalasyd in March.

# Controversy

If you ask any developer on the street they will tell you scala's implicits are a miss-feature.   If pressed they will concede that maybe using them for typeclasses is OK.   (Here a type determines the unique instance in all scopes where it is available.)

But just pas

[2017-03-14 07:10] charleso commented on #67
@arnolddevos Nice idea. Might be slightly trickier to do as a panel, but I'm happy to provide some ammunition for the counter-arguments if you're just going to a talk on your own. :)

[2017-03-14 23:24] charleso commented on #53
@tmcgilchrist Just to log it somewhere - you ok for June?

[2017-03-15 06:26] tmcgilchrist commented on #53
Yes, put a date on it so I actually do it.

On Wed, 15 Mar 2017 at 10:24 am, charleso <notifications@github.com> wrote:

[2017-03-15 08:12] charleso commented on #53
14 June it is!

[2017-03-17 07:13] mjhopkins opened #68 "A problem with pattern matching in monadic code"
This

[code]

fails to compile, with the error `could not find implicit value for parameter M: scalaz.Monoid[Error]`, but it's not immediately clear why, or why it *does* work when we replace `\/` with `Option`.

I'll discuss why this occurs, a simple fix to make it work, and compare with similar situations in other languages with pattern-matching and monads (Haskell, Idris, Purescript), ending by

[2017-03-18 06:32] charleso commented on #68
@mjhopkins . Sounds interesting. How long are you expecting the talk to go for? Is there any month that would be best for you? At this stage it's likely we won't need another talk until June, or maybe even July.

[2017-03-20 01:24] mjhopkins commented on #68
20-30 mins?

Happy to go any time.

[2017-03-21 08:00] charleso commented on #68
@mjhopkins let's put you down for a tentative June if that's ok?

[2017-03-21 08:01] charleso commented on #32
I believe @japgolly might be able to help us out here (no pressure though). :)

[2017-03-21 22:01] japgolly commented on #61
Yeah he's all good for April. (He's next to me)

[2017-03-22 07:02] japgolly commented on #32
Yes! and no.

I'm not really interested in doing an Introduction to Scala.JS in isolation. It's a bit low-level, introductory and the ratios of topic passion, time to craft talk, and available time don't work. It's not quite the same but there are also a heap of fantastic talks and demos online by Li Haoyi that show off and explain Scala.JS itself.

I *would* be interested in doing a talk on purel

[2017-03-22 07:04] japgolly commented on #32
As in I'd squash an introduction to what it is, how it works and how to use it, into <5 min.

[2017-03-22 21:38] charleso commented on #32
Sounds perfect to me. I'm definitely a fan of more applied talks than just dry introductions. If that introduces people to the concept of Scala.js along the way then that sounds like a win.

If/when you feel prepared to give a talk on that don't hesitate to hijack this issue and rename/update, or alternatively create a new one.

[2017-03-22 21:55] japgolly commented on #32
Yeah, will do! Let me keep ruminating on it and I'll get back to you. If anyone wants to do more introductory talk though please go for it.

[2017-03-24 03:18] mjhopkins commented on #68
Sure.

[2017-04-13 03:09] charleso commented on #61
Thanks @don41382 !

[2017-04-13 03:09] #61 closed, assigned to nobody

[2017-04-13 03:09] charleso commented on #65
Thanks @karlroberts !

[2017-04-13 03:09] #65 closed, assigned to karlroberts

[2017-04-13 05:07] jinilover opened #70 "Value, type, kind and type class, why they matter"
Introductory talk to audience new to FP.
* Explain what is a value, type, a kind and the relationship between them.
* Explain what is a type class and why it is important
* Gives examples, such as Monoid is a type class for a type, Functor is a type class for a type constructor and so on.
* Explain how Scala, a non-pure FP language, implement these FP concepts.
* Hope to make beginners easily unde

[2017-04-13 07:39] japgolly opened #71 "A little type theory for a lot of practical benefit"
I'd like to present a few concepts from type theory that can provide a real practical benefit to everyday coding. Along the way as part of the crescendo to main point(s), I'll also explain to beginners a few of the basics of Scala types system and syntax.

Estimated length 30-40 min.
Target audience: beginners ~ advanced *(I know I'm always optimistic about that)*

[2017-04-21 08:17] mjhopkins opened #72 "Conditional contexts"
Wouldn't it be nice if Scala would let you write a parametric function that would do different things, depending on whether or not a type class instance was available for the type?

For instance

* a `Set[A](a: A*)` function that creates either a `TreeSet` or a `HashSet`, depending on whether an `Ordering[A]` is in scope.
* a numerical algorithm `doCalc[N : Numeric](n: Matrix[N])` that works for a

[2017-04-25 00:49] arnolddevos commented on #67
Odersky at scaladays on more or less the same subject https://www.youtube.com/watch?v=Oij5V7LQJsA&index=1&list=PLLMLOC3WM2r5Ei2mnSHCD-ZD04AXovttL

[2017-04-25 01:19] arnolddevos opened #73 "Out of Band Resource Management and Error Handling in Concurrent Programs"
This describes a technique I have applied on a number of projects but does not seem to be commonly used.   The idea is simple: don't pass  errors down stream, instead send them to a supervisor.  Put another way: don't include errors in the _effect_, return them from _run_.

The rationale is that downstream probably does not know how to handle the error.  And resource management is complicated (wit

[2017-04-25 07:14] etorreborre commented on #73
This is interesting. My experience with resource management in [eff](https://github.com/atnos-org/eff) is also that resource management really has to be "baked-in" the "effect" monad.

[2017-04-25 08:16] arnolddevos commented on #73
The approach I am alluding to predates eff AFAIK.  It is certainly not as sophisticated.

The Task-like monad here is called Process[T] (apologies to fs2).   It has baked-in Failed and Recoverable cases.

If p1 is a Process[T] then p2 = (p1 recoverWith r) is a Process[T] that will cause a side effect if it reaches the Failed state when run.  The _r_ is (a function yielding) a Process that captures

[2017-04-25 10:40] etorreborre commented on #73
One thing which I found useful was to protect a resource, regardless of the successive binds done with it:
[code]
If you run `action2` the resource should be closed when `action2` has finished executing (even if there is an exception in there). Can `Process` do that?

[2017-04-25 11:15] arnolddevos commented on #73
I did not have an exact equivalent so I wrote this (type checked but untested):

[code]

where recoverWith is as discussed above and stop is pure (sorry for the funny name!)

Looks like a monadic try-catch no?

[2017-04-25 11:26] etorreborre commented on #73
My question is: what happens if you `flatMap` other actions on top of a "bracketed" action? I found it useful to be able to do that and still have the `dispose` action done at the end:
[code]

[2017-04-25 12:01] arnolddevos commented on #73
I would write numbers like this:-

[code]
And yes, the file is closed no matter what.  Specifically:-

1. If `getLines` is Failed (underlying IOException), `readLines` and `numbers` are thence `Failed` which is a `Process[Nothing]` and the file is closed by the out-of-band recovery.

2. If `getLines` completes, then the file is closed before the conversion to Int occurs.  Because we wrote bracket

[2017-05-14 04:49] charleso commented on #64
Hey Stephen, still ok with June?

[2017-05-14 04:49] charleso commented on #68
@mjhopkins still ok with June?

[2017-05-14 06:19] stephennancekivell commented on #64
Yea mate. June will be fine.

On Sun, 14 May 2017, 14:49 charleso, <notifications@github.com> wrote:

[2017-05-19 10:27] jinilover commented on #70
Hi @arnolddevos @charleso ,

As promised, I can give the talk in June.  Here is the title and description rephrased from the point form to make it a bit audience friendly.

[code]

[2017-05-20 01:36] charleso commented on #70
Thanks @jinilover , looking forward to it.

[2017-05-20 01:36] charleso commented on #68
@mjhopkins Maybe make that July?

[2017-05-20 01:37] charleso commented on #71
@japgolly Awesome. How does July sound?

[2017-05-21 06:47] japgolly commented on #71
Actually no-go for July - sorry.
I may be able to give a talk in August --let me get back to you-- but I think I'll finally give that scalajs-react one first.

[2017-05-21 07:42] charleso commented on #71
@japgolly No worries. August is good too. Would love to hear about scalajs-react! Let me know either way. :)

[2017-05-21 07:43] charleso commented on #73
@arnolddevos How did you feel about giving this (or another talk) in July?

[2017-05-21 07:49] japgolly commented on #71
np will do. May take a few weeks if that's ok.

On 21 May 2017 at 17:42, charleso <notifications@github.com> wrote:

[2017-05-22 00:24] arnolddevos commented on #73
@charleso Hi, yes I am up to give a talk.  However I am reconsidering what subject would be interesting and for which part of the audience.

[2017-05-24 15:18] mjhopkins commented on #68
Sure

[2017-06-01 04:26] charleso commented on #64
Hey @stephennancekivell, did you have a friendly title/description for your talk?

[2017-06-01 12:14] stephennancekivell commented on #64
Sure @charleso, how about.

# Akka Streams

Akka streams is a library for efficient stream data processing where the data maybe too big to fit in memory. This talk will be a intro to akka streams and stream processing architectures, as well as where it fits in the software ecosystem.

This talk will be a intro to stream processing architectures and where they fit the the ecosystem as well as a int

[2017-06-01 22:04] charleso commented on #64
Thanks @stephennancekivell :)

[2017-06-22 22:25] charleso commented on #70
Thanks @jinilover!

[2017-06-22 22:25] #70 closed, assigned to nobody

[2017-06-22 22:25] charleso commented on #64
Thanks (again) @stephennancekivell!

[2017-06-22 22:25] #64 closed, assigned to nobody

[2017-06-22 22:27] charleso commented on #68
You're up :)

[2017-06-24 08:28] charleso opened #74 "Property Based Testing - A Best Practice for Better Software"
I'm giving a YOW! Night talk in Hong Kong in July, and so I'm going to hijack one slot in July for a practice run.

<hr/>

Testing is an essential part of writing and maintaining correct and reliable software. However, for the most part the best technique we have for writing tests is to capture some examples in the hope that they cover all the known edge cases. Unfortunately these examples almost

[2017-06-28 07:13] karlroberts commented on #32
Hi I'm currently writing a Markdown Parser in Scala.js happy to prep a talk sometime. Although I haven't used it in anger yet it is promising, also highlighted some of the strange issues and compiler warnings that can hit you when using scala.js. Kind of bridge the gap from the Hibberd's "dont fear the parser" and implementaton in Scala.js

[2017-06-29 10:04] charleso commented on #32
@karlroberts That sound pretty good. I think @japgolly is keen to do something on scala.js + react. I'll take what I can get though. :) We should chat next meetup and see what people are most passionate about.

[2017-07-05 05:28] charleso commented on #68
@mjhopkins You have a preference for next week for this or https://github.com/scalasyd/scalasyd/issues/72?

[2017-07-12 04:11] karlroberts commented on #32
@charleso OK although I wont be able to go tonight! happy to have different use cases: japgolly can do  the full SPWA using scala.js -> react components. I can do my js markdown lib created with scala.js using combinator parsers. I hope to get time to try and package it properly into npm too so that to the js world it is transparent. Just doing this has highlighted a few gotchas of using/developin

[2017-07-12 04:14] charleso commented on #32
@karlroberts Thanks. I wonder whether it would be "fun" to have a themed night, and have both talks about scala.js? I'll talk to @japgolly if he's there tonight.

[2017-07-12 04:18] karlroberts commented on #32
@charleso Haha yeah and cross post it to the js meetups! :-)

[2017-07-12 22:24] charleso commented on #68
Thanks @mjhopkins !

[2017-07-12 22:24] #68 closed, assigned to nobody

[2017-07-12 22:25] #74 closed, assigned to nobody

[2017-07-12 22:30] charleso commented on #32
@japgolly You interested in doing a talk on scala.js next month? If so I'm tempted to line up you and Karl for a double scala.js wammy. I'm open to suggestions though.

[2017-07-13 08:28] arnolddevos commented on #32
@charleso this would be great.  If it will be a scalajs night I will postpone my talk.

[2017-07-13 22:57] japgolly commented on #32
Hey. Unfortunately I've had too much on to even attend ScalaSyd lately let alone prepare a preso. Next month will be the same but, we could lock in a talk for Sep? Either Oct or Nov would be ok too but I'll need to check something before I can reliably say which.

I could talk for weeks about Scala.JS + FP + React. I'm thinking a whirlwind tour would be a good first talk. Cover a bunch of things w

[2017-07-13 22:58] japgolly commented on #32
Oh I :+1: on the idea of a Scala.JS themed night!

[2017-07-13 23:11] charleso commented on #32
@japgolly Let's tentatively lock in Sep then if that works for you.  A whirlwind tour would be good if we're doing a themed night, but I'm happy to let you and @karlroberts work out who does what. @karlroberts You OK with Sep too?

[2017-07-13 23:11] charleso commented on #73
@arnolddevos Sounds like scala.js would be Sep, did you want to keep aiming for Aug then?

[2017-07-14 06:32] arnolddevos commented on #73
@charleso OK.

[2017-07-15 05:54] japgolly commented on #32
*This just in:*
It turns out I can't do Oct or Nov, ...or Dec, or n+1. September's all I can do, I'm afraid.

[2017-07-15 22:13] charleso commented on #32
@japgolly September is perfect. I'm looking forward to seeing the talks. :)

[2017-07-18 23:56] renpillay opened #75 "Beginner talk on Optics"
I think there have been a few Optics talks, but given that we generally have a good percentage of first timers, I could do another one.

Probably beginner focused, talking about why we would use optics, definitions of Iso/Lens/Prism/Optional, and some basic examples of where they'd be used in the real world.

[2017-07-21 02:33] charleso commented on #75
@renpillay Sounds great! We haven't had a lens talk for a while. How did you feel about talking on the 9th of August?

[2017-07-21 03:26] renpillay commented on #75
Sooner than I planned, but sure - I can get something ready for that date.

[2017-07-21 03:28] charleso commented on #75
Yeah sorry, we already have pretty concrete plans for September around Scala.js but need one more talk for August. No pressure, but if you have enough time to prepare that would be awesome!

[2017-07-21 03:30] renpillay commented on #75
I was actually thinking October, since I'll be away in September. But August works :)

[2017-07-23 22:14] karlroberts commented on #32
ok Im in for Sept. :-)

[2017-08-02 02:49] charleso commented on #73
@arnolddevos You mind updating the title/description (or posting a new comment) for the meetup next week? Cheers.

[2017-08-02 02:49] charleso commented on #75
@renpillay You got a title/description for the meetup next week?

[2017-08-02 04:34] renpillay commented on #75
@charleso

Title: Introduction to Optics
Description: This talk will walk through some issues with manipulating data in immutable data structures and how Optics can simplify these problems.

[2017-08-02 06:51] arnolddevos opened #76 "Taming Transducer Data from the Electric Power Network"
We developed a metrics recording system for electric power operations and planning.

This talk describes the component, written in scala, that reduces volumes of noisy, irregular transducer measurements to regular time series of reasonable dimensions and other summaries.

It is a service, driven by a domain-specific language, fronting a Cassandra cluster.  I will describe its design and implementa

[2017-08-02 06:57] arnolddevos commented on #76
@charleso Hi Charles, I thought it best to create a new issue and put it in calendar.  Hope you agree.

[2017-08-02 07:13] charleso commented on #76
@arnolddevos Brilliant. Thanks for that!

[2017-08-02 07:14] charleso commented on #75
@renpillay Thanks! See you next Wednesday. :)

[2017-08-10 06:12] charleso commented on #76
Thanks @arnolddevos

[2017-08-10 06:12] #76 closed, assigned to nobody

[2017-08-10 06:13] charleso commented on #75
Thanks @renpillay!

[2017-08-10 06:13] #75 closed, assigned to nobody

[2017-08-10 06:24] charleso opened #77 "Pagination"
Making sure our services don't return unbounded results is crucial for ensuring things don't break unexpectedly in the wild. Pagination is a good way to ensure our results are bounded, and to allow for results to be consumed in the appropriate way. But how best to represent the concept in Scala? There are many different ways, with different trade offs, but I'd like to share the simple version that

[2017-08-18 07:30] japgolly commented on #32
I guess you'll be announcing on meetup.com soon, how about this for the title of mine: *"Purely Functional Webapps with scalajs-react"*

What's the date?

[2017-08-18 07:56] charleso commented on #32
@japgolly For historical reasons I only usually announce a week in advance. It's always the second Wednesday of the month, so it's the 13th of September.

Thanks for the title. Got a description while you're here?

[2017-08-21 01:44] japgolly commented on #32
Ok thanks, I'll keep the 13th in mind.

For a description, let go with this:

[2017-08-21 10:41] charleso commented on #32
@karlroberts You got a title/description in mind for your talk?

[2017-09-01 00:44] charleso commented on #32
@karlroberts Ping again, you have a good title/description?

[2017-09-13 23:05] charleso commented on #32
@japgolly and @karlroberts thanks heaps for the great talks!

[2017-09-13 23:10] charleso commented on #71
@japgolly I guess there's a fairly low chance you'll be doing this talk now? It's been great having you in Sydney, we're going to miss you. :(

[2017-09-13 23:10] #71 closed, assigned to nobody

[2017-09-13 23:11] #32 closed, assigned to nobody

[2017-09-13 23:25] karlroberts commented on #35
in the absence of other volunteers I wouldn't mind using someone else's talk and slides to re-present :-) that would save a lot of time and I'd get to look as smart as Heather :-D

[2017-09-13 23:37] charleso commented on #35
@karlroberts Sounds good. Did you mind reaching out to Header to ask permission? How soon did you feel like giving the talk?

[2017-09-14 01:46] triggerNZ opened #78 "SBT plugins for no fun and little profit"
An overview of how SBT plugins work.

Both for those who want to write plugins and those who just want to control their build better.

- Explaining project structure
- An example plugin
- Settings, tasks and commands
- Navigating third-party settings and code.

[2017-09-14 01:57] japgolly commented on #71
Ah, indeed. Thanks for having me!! It's been good experiences :)

[2017-09-14 03:52] charleso commented on #78
Thanks @triggerNZ, when were you available/thinking about doing the talk? Would next month be too soon? (I'm assuming Jed poked you)

[2017-09-14 03:52] arnolddevos commented on #78
+1 I don't think we have had an sbt talk.  "no fun" undersells it a little ;-)

[2017-09-14 03:59] camjo opened #79 "Combining Free and FreeAp in the wild"
Talk about using the Free Monad in the wild and how to introduce parallelism into your Free programs with FreeAp.

Has a focus on practicality rather than type theory.

[2017-09-14 22:28] charleso commented on #79
Sounds great @camjo! How much time did you need to prepare? Would next month (11 Oct) be too soon?

[2017-09-15 04:45] camjo commented on #79
Should be enough time. I've given a version of this talk at my company already. I'll just have to polish up the slides a bit!

[2017-09-15 21:47] charleso commented on #79
@camjo Excellent and thanks! You're locked in!

[2017-09-25 07:42] charleso commented on #78
@triggerNZ You free for next month on Sep 11th?

[2017-09-25 07:42] charleso commented on #72
@mjhopkins Sorry for the late notice but would you be interested in doing this next month on Sep 11th?

[2017-09-25 08:30] triggerNZ commented on #78
@charleso assuming you mean Oct 11th, yes. Sorry I didn't reply to your earlier comment, the notification got lost somehow...

[2017-09-25 08:30] charleso commented on #78
@triggerNZ Whoops. Yep that's what I meant. Phew - thanks for that!

[2017-10-05 21:33] charleso commented on #79
Sorry for the late announcement. https://www.meetup.com/scalasyd/events/243959862/

[2017-10-05 21:33] charleso commented on #78
Sorry for the late announcement. https://www.meetup.com/scalasyd/events/243959862/

[2017-10-22 23:18] #78 closed, assigned to nobody

[2017-10-22 23:19] #79 closed, assigned to nobody

[2017-10-24 10:34] afsalthaj opened #80 "Stackless scala with Free Monads"
# Stackless Scala with Free Monads
This talk is going to be basic by defining a Free Monad from scratch.

This talk will cover the following:
* Skim through the paper on Stackless Scala using Free Monads: http://blog.higher-order.com/assets/trampolines.pdf.
* A few hands-on examples.
* Defining a free monad language for logs, and injecting it in our main application.
* If time allows, an intro to

[2017-11-02 10:23] caobinzi opened #81 "Eff Monad"
I would like to share some experiences about the Eff Monad library created by Eric Torreborre
@etorreborre https://github.com/atnos-org/eff

1. Some basic FP concepts
2. Why Eff Monad
3. Eff Monad by examples

[2017-11-04 01:28] jedws commented on #81
thanks @caobinzi, when would you be able to present? Would this Wednesday be possible?

[2017-11-04 02:49] caobinzi commented on #81
@jedws No problem.  This Wednesday looks good to me.

[2017-11-04 03:15] jedws commented on #81
awesome. could you please provide a title and a short description we can put up on the meetup page?

[2017-11-04 03:19] jedws commented on #72
@mjhopkins are you still interested in giving this talk? We need something for Wed 8 Nov

[2017-11-04 04:44] caobinzi commented on #81
@jedws , sure

---------------------------------------------------------------------------
Eff Monad

Binzi Cao

In this talk, we'll introduce Eff Monad and share some examples based on the library:

https://github.com/atnos-org/eff

The topics includes:

• Some basic FP concepts

• The road to Eff Monad and why it matters

• Eff Monad by examples

[2017-11-10 04:34] #72 closed, assigned to nobody

[2017-11-10 04:34] #80 closed, assigned to nobody

[2017-11-10 04:35] #81 closed, assigned to nobody

[2018-02-13 23:30] karlroberts opened #82 "Refactor Ugly procedural code to idiomatic scala"
I have some hacked together procedural mutable code, and successively refactor it  to clean immutable idiomatic scala.

The Idea is to take the procedural idom and show to think of it in a functional way.
This is not a big bang refactor but a successive refactor to gently move the code into a better dry-er less bug prone state

Should be suitable from intro level or Java devs looking at Scala and

[2018-02-14 00:29] karlroberts commented on #77
+1

[2018-02-21 09:40] eli-jordan opened #83 "Life Is A Comonad"
I have recently been grappling with the concept of a Comonad, and found that there are quite a few articles that explain their theoretical footing, but not many that convey an intuitive understanding of Comonads using practical examples.

In this talk I will introduce comonads using the Zipper data structure as an analogy, then show how the Store comonad can be used to implement Conway's Game Of L

[2018-02-25 01:41] jedws commented on #83
@eli-jordan do you think you'd be ready for March? Will schedule in if you are.

[2018-02-26 05:25] eli-jordan commented on #83
@jedws Would that be 14th March? If so, yeah I should be able to put some slides together by then.
How long are the slots? (I was thinking maybe 30min)

[2018-02-26 06:32] jedws commented on #83
yep, 14th March. There isn't a set time limit, anything from 30-50 mins is sweet, outside that less preferable but not necessarily outlawed.

[2018-02-28 09:58] eli-jordan commented on #83
@jedws I have been notified that I have to travel for work at the last minute. So I won't have a chance to prepare for the March event. But I am happy to do the talk in April.

[2018-03-01 03:55] jedws commented on #83
ah, no worries, understood.

[2018-04-04 02:46] jedws commented on #83
@eli-jordan still ok to do this next week?

[2018-04-04 02:46] jedws commented on #82
@karlroberts ok to do this next week?

[2018-04-04 02:48] eli-jordan commented on #83
@jedws Yeah, will be ready for next Wednesday

[2018-04-04 02:48] jedws commented on #83
excellent! will schedule in the next day or so when I finalise the last two spots

[2018-04-04 02:49] jedws commented on #77
@charleso would you be maybe interested and able to present this next week?

[2018-04-04 03:36] charleso commented on #77
@jedws I'm afraid I wouldn't be ready by next week.

[2018-04-06 04:07] eli-jordan commented on #83
@jedws Is this locked in for next week?

[2018-04-06 05:11] jedws commented on #83
yep

On Fri, 6 Apr 2018 at 2:07 pm, Eli Jordan <notifications@github.com> wrote:

[2018-04-09 05:58] eli-jordan commented on #83
@jedws Ok great, I haven't seen the meetup event scheduled yet. Will that be up today? (Want to share with my colleagues)

[2018-04-09 06:02] jedws commented on #83
sorry, been distracted https://www.meetup.com/scalasyd/events/249590115/

[2018-04-09 06:12] eli-jordan commented on #83
No worries. Thanks for the quick update!

[2018-04-17 23:29] FabFlying opened #84 "Scala In Production"
Review of the experience of developing and running an eCommerce website written in Scala.

[2018-04-18 07:14] kevin-lee commented on #84
@FabFlying Thanks for the proposal. It sounds good. Could you do it in May?

[2018-04-18 07:14] kevin-lee commented on #84
@jedws I have no permission to put any label here.

[2018-04-18 10:02] FabFlying commented on #84
May is fine.

[2018-04-26 22:34] karlroberts commented on #82
oops sorry been busy. missed that. I can try to get it ready for Wed 9th May?

[2018-04-27 00:21] kevin-lee commented on #82
@karlroberts Sure. That's great! We will schedule it for the 9th of May. Thank you!

@jedws I still don't have permission to add or change the label.

[2018-04-27 00:22] kevin-lee commented on #84
@FabFlying That's great! We will schedule it for the 9th of May. Thank you!

[2018-04-27 00:22] kevin-lee commented on #84
@jedws I still have no permission to change or add any labels.

[2018-04-27 01:54] karlroberts commented on #82
ok thanks.

[2018-04-27 12:25] jedws commented on #82
@Kevin-Lee sorry mate, invite sent

[2018-04-29 16:06] kevin-lee commented on #82
@jedws Thank you!

[2018-04-30 03:57] #83 closed, assigned to nobody

[2018-05-01 05:38] jedws commented on #73
@arnolddevos should talk/issue this be closed now? you gave a talk, but not really this one, in Aug 2017

[2018-05-02 01:10] arnolddevos commented on #73
@jedws yes I will close this one.   there are a couple of other talk ideas around implicits I proposed that never got traction so I will close those too if that is OK.

[2018-05-02 01:11] #73 closed, assigned to nobody

[2018-05-02 01:21] arnolddevos commented on #67
While I think it is a key issue given the direction of scala/dotty I have not used implicits in my code very much, except for typeclasses.  So a talk from me alone would be mostly smoke.  And this has been here for a year so I will age it out.

[2018-05-02 01:21] #67 closed, assigned to nobody

[2018-05-03 01:40] kevin-lee commented on #84
@jedws Could you please tell me the date and time for ScalaSyd ep 62? I don't have your personal email address so can't contact you through email.

[2018-05-03 01:41] Kevin-Lee commented on #84
@jedws Mine is
hello at kevinlee.io

[2018-05-03 04:07] kevin-lee commented on #82
@karlroberts Kerl, could you please send me the title and one paragraph abstract of the talk?

[2018-05-11 14:58] #84 closed, assigned to nobody

[2018-05-11 14:58] #82 closed, assigned to nobody

[2018-06-11 13:34] kevin-lee commented on #43
@arnolddevos Do you think you can give a talk on Dotty next week? As you know, it was announced that [Dotty will become Scala 3.0](https://www.scala-lang.org/blog/2018/04/19/scala-3.html) so I think it's a good time to talk about Dotty.

[2018-06-11 22:56] arnolddevos commented on #43
@Kevin-Lee Hi Kevin, I am overseas next week otherwise I would be willing.

[2018-06-12 08:30] arnolddevos commented on #43
I am thinking of a clickbait title for such a talk e.g. Dotty - Functional Programming with Implicit Mutable Data.  I could go on.

Actually "How to Use a Monad for Functional Programming with Mutable State: Haskell vs. scala vs. dotty" is a perfectly reasonable topic.

[2018-06-12 16:56] kevin-lee commented on #43
@arnolddevos That sounds good and I'm sorry I was wrong about the date. It's this week and too late to organise it. So do you think you can do it next month?

[2018-06-24 00:05] arnolddevos commented on #43
I can't do it for July either.  Sorry about that.   (I did not realise I would be unavailable
 when I suggested titles in the previous comment.)

[2018-06-29 00:37] charleso opened #85 "Charles Craps On - Please Vote"
Now that I'm doing Scala full time again I have a few more talks that I might be able to give. I don't really know what (other) people would find the the most interesting or useful.

## Scala The Good Parts

A revamp of my [previous talk](http://blog.charleso.org/scala-the-good-parts/).
More of a focus on wart remover which I'm now using in anger, and I think provides a good starting point for a w

[2018-06-29 01:12] kevin-lee commented on #85
All nice. Can you start it with `Scala The Good Parts`?

[2018-06-29 06:44] jedws commented on #85
STGP would be great! Hedgehog next, then Pagination.

[2018-07-03 02:37] mjhopkins commented on #85
👍 for all of these. I'd gladly listen to a talk just titled "Charles Craps On".

Quite interested to hear the pagination talk.
STGP will be a lightning talk I presume? 😈

[2018-07-03 02:55] mjhopkins opened #86 "Compile-time parsing"
Sometimes, rather than constructing a domain object in code, it's clearer to specify it as YAML or JSON.

But at the same time, we don't want to give up the compile-time guarantees we get from a programming language, as this would expose us to runtime errors if we made a mistake in the YAML/JSON.

Imagine if we could write the following, and have it checked at compile time:

[code]

We can, throug

[2018-07-03 03:28] kevin-lee commented on #86
@mjhopkins Sounds good! Would you be able to prepare the talk for ScalaSyd this month (Wednesday next week, 11th)?

[2018-07-04 12:31] mjhopkins commented on #86
Yep, no worries.

[2018-07-09 03:56] kevin-lee commented on #86
@mjhopkins I'm sorry Mark. We couldn't find one more speaker. Could you do it next month (the 8th of August)?

[2018-07-09 03:58] kevin-lee commented on #43
@arnolddevos That's fine. Could you do it next month then (The 8th of August)?

[2018-07-09 05:18] mjhopkins commented on #86
Yep that's fine too.

[2018-07-09 07:16] kevin-lee commented on #86
@mjhopkins Thanks Mark. 👍

[2018-07-11 06:17] arnolddevos commented on #43
@Kevin-Lee OK.  Will put my best foot forward next month.

[2018-07-27 08:18] kevin-lee commented on #43
@arnolddevos Hi Arnold, the upcoming ScalaSyd will be on the 8th of August.
Could you please confirm that you can give a talk on dotty?
Thanks!

[2018-07-27 08:23] kevin-lee commented on #86
@mjhopkins Hi Mark, just reminder for you. The upcoming ScalaSyd will be held on the 8th of August so about 12 days left.
Thanks.

[2018-07-28 05:18] arnolddevos commented on #43
Hi Kevin, yes I will.   I had a look at it yesterday and I think it would be interesting to cover a couple of aspects of dotty with examples.

[2018-07-28 05:30] arnolddevos commented on #43
If you are announcing the meetup I would now suggest a more broad title for this talk.   Something like "Interesting language enhancements in dotty/scala 3".

[2018-08-03 04:12] arnolddevos commented on #43
Is the meetup going to take place on August 8?   I just checked meetup.com and could not find it.

[2018-08-03 04:50] jedws commented on #43
yes, I'm just in the process of putting together the meetup announcement

On Fri, 3 Aug 2018 at 14:12, Arnold deVos <notifications@github.com> wrote:

[2018-08-03 04:53] jedws commented on #43
@arnolddevos I don't seem to have a description for this, can you add one and I'll add to meetup description? Thanks!

[2018-08-03 05:16] arnolddevos commented on #43
@jedws OK I see the announcement now.  Please excuse my gentle prodding.

[2018-08-03 05:27] arnolddevos commented on #43
@jedws re description:

A tour of some selected new language features that can be seen in the latest dotty RC (and will probably be in scala 3).  To make it interesting we will try to use these features in example code. Hopefully some of their raison d'être will emerge.

[2018-08-06 11:04] kevin-lee commented on #43
Came back from overseas today. Thanks @arnolddevos. I'm looking forward to hearing your talk this Wednesday.

[2018-08-06 11:31] arnolddevos commented on #43
@Kevin-Lee Thanks.  I see there are three talks now.  Given the time and effort required, that's hard  on the third speaker. The scalasyd audience don't generally hang around that late.

[2018-08-07 04:35] kevin-lee commented on #43
@arnolddevos Yeah I think so too. I think two might be ideal. Even myself can't stay for the third one as it takes me about one and half hours to get home.

[2018-08-07 07:52] jedws commented on #43
my talk is only short (25 mins), so we should be able to get it done. I can
delay till another night if preferred though.

On Tue, 7 Aug 2018 at 14:35, Kevin Lee <notifications@github.com> wrote:

[2018-08-07 23:06] arnolddevos commented on #43
I completely happy to postpone my talk.  It will still be relevant next month.   Initially, there were no talks and we pulled this one out of the suggestions archive.  Now that I have developed the talk I would like to give it eventually of course.

[2018-08-08 01:49] jedws commented on #43
nah, my talk isn't even really Scala. You're still up :-)

On Wed, 8 Aug 2018 at 09:06, Arnold deVos <notifications@github.com> wrote:

[2018-08-08 02:39] arnolddevos commented on #43
BTW , loved your delivery of Juliet's speech.  You were in the moment then - spine tingling.  More art in tech conferences I say.

[2018-08-08 04:35] jedws commented on #43
awww, shucks!

[2019-02-16 20:54] huntc opened #87 "Scala for good"
Title: 0.6%

Abstract
0.6% is the portion of tech companies focused on agriculture, forestry and fishing combined. This is an incredible stat on the inbalance of talent.

I’ve been applying Scala to agriculture over the past year having developed an IoT platform for Cisco. I’m now also working on an important climate science project. Scala is at the centre of these activities and so I’d love the o

[2019-02-17 12:46] etorreborre commented on #87
I won't be there but I really applaud Chris! 💯

[2021-02-06 03:42] guizmaii commented on #87
Hey @huntc,

I'm rebooting ScalaSyd this year.
The first event (yet to be announced) will take place in the first week of March and I already have the speakers.

I'm looking for speakers for the April and May events.

Would you be interested in giving one? I'd love to hear about what you did for climate science! 🙂

[2021-02-06 03:49] guizmaii commented on #86
Can we maybe close this ticket now that this talk has been given, please?

@mjhopkins Would you be interested in giving a talk to ScalaSyd this year? I'm looking for speakers for April and May.

[2021-02-06 03:50] guizmaii commented on #85
Hey @charleso,

I'm rebooting ScalaSyd this year.
The first event (yet to be announced) will take place in the first week of March and I already have the speakers.

I'm looking for speakers for the April and May events.

I see in this repo that you have lots of talk proposals. Would you be interested in giving one (or more) this year?

[2021-02-06 04:32] huntc commented on #87
Hi there!

Sure! It is about time we met up also!

Cheers,
-C

[2021-02-07 02:22] mjhopkins-da commented on #86
Yep this issue should be closed. I'm sure I could come up with a talk. Let me think about it.

Can I ask that you take up the previous practice of adding all scheduled talks and talk proposals to this repo? This has several benefits, but in particular it helps in choosing a topic that won't already have been covered.

[2021-02-07 05:05] #86 closed, assigned to nobody

[2021-02-07 22:17] charleso commented on #85
@guizmaii Firstly, thanks for picking up ScalaSyd, it needed a proper reboot.

I'm afraid I won't be able to participate in ScalaSyd any more. I moved to Brisbane 2 years ago, and even if you did remote talks, I now have an 18month old and my free time is non-existent at the moment.

Best of luck!